/*
* AUTHOR: Luca
*/

* {
	background:			#171A1F;
	background-alt:		#292D36;
	brdr:               #131a1c;
    foreground:			#D8D8D8;
    foresel:            #67AFC1;
    selected:			#292D36;
	urgent:				#E06C75;
	on:					#87A181;
	off:				#D88B9F;
}
