/*
* AUTHOR: Luca
*/

* {
	background:			#1B2224;
	background-alt:		#222B2E;
	brdr:               #191F21;
    foreground:			#D8D8D8;
    foresel:            #67AFC1;
    selected:			#263033;
	urgent:				#E06C75;
	on:					#87A181;
	off:				#D88B9F;
}
