/*
* AUTHOR: Luca
*/

* {
	background:			#1A2026;
	background-alt:		#262F38;
	brdr:               #131a1c;
    foreground:			#D8D8D8;
    foresel:            #67AFC1;
    selected:			#262F38;
	urgent:				#E06C75;
	on:					#87A181;
	off:				#D88B9F;
}
