//@theme "/usr/share/rofi/themes/rounded-pink-dark.rasi"
//@theme "/usr/share/rofi/themes/rounded-pink-dark.rasi"@theme "/home/sweet/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/sweet/.local/share/rofi/themes/rounded-pink-dark.rasi"
//@theme "/home/sweet/.local/share/rofi/themes/rounded-pink-dark.rasi"
@theme "/home/sweet/.local/share/rofi/themes/Rose-pine-moon.rasi"
