$primary: #a0c9ff;
$onPrimary: #00315d;
$primaryContainer: #004883;
$onPrimaryContainer: #d2e4ff;
$secondary: #bbc7db;
$onSecondary: #263140;
$secondaryContainer: #3c4758;
$onSecondaryContainer: #d7e3f8;
$tertiary: #d8bde3;
$onTertiary: #3c2947;
$tertiaryContainer: #543f5f;
$onTertiaryContainer: #f5d9ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1b1b1b;
$onBackground: #e3e2e6;
$surface: #1b1b1b;
$onSurface: #e3e2e6;
$surfaceVariant: #43474e;
$onSurfaceVariant: #c3c6cf;
$outline: #8d9199;
$shadow: #000000;
$inverseSurface: #e3e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #1360a4;